.mySlides {display: none;}
img {vertical-align: middle;}

/* ===================================== 
   Page Styles
======================================== */
/* 2. Add Some Basic Styling */
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
      font-family: sans-serif;
      font-size: 13px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 800;
  }
  nav {
      background: white;
      padding: 0 15px;
  }
  a {
      color: #4a4949;
      text-decoration: none;

/* ========= BEGIN Header Navigation css ======== */

  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
  }
  .item {
    padding: 10px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
      color: #9f9080;
  }
  /* Header Navigation Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: right;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Header Navigation Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
      background-color:#f8f8f8;
      border-radius: 30px;
  }
  
  /* Header Navigation Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    /* Header Navigation Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .button a {
      background: #0080ff;
      border: 1px royalblue solid;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
  text-decoration: none;
    }
  }
  /* Header Navigation Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: relative;
      left: 0;
      top: 5px;
      background: #f8f8f8;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }
/* ========= END Header Navigation css ======== */

film {
  height: 60vh;
  /* background-color: #2E3D45; */
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

promo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*minmax xxpx controls when promos change*/
  grid-gap: 10px 10px; /* controls space between grid items */
  /* line-height: 1.5; */
}

promo a {
  text-decoration: none;
}

.card {
  padding: 1.5em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  min-width: 200px;
}

.pad {
  padding: 180px 40px 10px 40px;
}

.share-us {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-sizing: border-box;
}

.share-us ul {
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.share-us img {
  display: block;
    width: 60px;
    margin: 0 20px 0 0;
}

img {
    max-width: 100%;
    height: auto;
}

img, a img {
    border: 0;
}

.share-us img, .share-us span {
    display: block;
}

.share-us li:nth-of-type(1) img {
    width: 70px;
}

.card h1 {
  font-family: 'Sorts Mill Goudy', serif;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: #fff; 
  margin-bottom: 0px;
  line-height: 1.25;
  font-weight: normal;
  text-align: center;
  text-transform: none;
}

.card h3 {
    color: #8b6c4d;
    font-family: 'Lato';
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 6px 0;
}

.btn {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.85em;
  color: white;
  /* font-weight: bold; */
  text-transform: uppercase;
  text-align: center;
  padding: .75em 1.5em;
  border-radius: 0.35em;
  border: 1px solid #998D6E;
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  max-width: 200px;
  margin: auto;
}

.btn:hover {
  background-color: #998D6E;
  transition: 0.35s ease;
}

pro1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2)),
    url("../images/mill01.jpg");
    background-size: cover;  
}
pro2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2)),
    url("../images/Spring-Mill-State-Park-Civil-War-Weekend-01-850x567.jpg");
    background-size: cover; 
}
pro3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2)),
    url("../images/news-040714a-lg.jpg");
    background-size: cover; 
}

/* ========== START Promo Media Query ========== */
@media (max-width: 959px) {
    promo {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(467px, 1fr)); /*minmax xxpx controls when promos change*/
        grid-gap: 10px 10px; /* controls space between grid items */
        /* line-height: 1.5; */
      }
}
/* ========== END Promo Media Query ========== */

/* ========== START Carousel ========== */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: white;
  font-family: 'Sorts Mill Goudy', serif;
  margin: auto;
  margin-top: 25px;
  max-width: 80%;
}

/* Slides */
.mySlides {
  display: none;
  max-width: 70%;
  text-align: center;
  color: #8a8a8a;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, ease into change of background and text color */
.prev:hover, .next:hover {
  background-color: #998D6E;
  color: white;
  transition: 0.35s ease;
}

/* Add an italic font style to all quotes */
q {
  font-size: 18px;
  text-transform: none;
  font-weight: 100;
  color: #8a8a8a;
}

/* Add color to the author */
.author {
  color: #998D6E;
  text-transform: none;
  font-size: 18px;
}

/* ========== END Carousel ========= */
/* carousel {
  background-color: #4D445B; 
}*/

lawco {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 9)),
    url("../images/Spring_Blossoms_2000x800.jpg");
    background-size: cover; 
    display: flex;
    flex-direction: column;
}

catalog {
    background-color: #B06327;

}

footer-nav a {
    padding: 100px;
}
/* ===================================== 
   Grid Layout
======================================== */

.container {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 10px;
}

/* ========= START media query for main navigation ======== */
/* 7. Create the Tablet Menu */
/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }
    .button.secondary {
        border: 0;
    }
    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;  
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/* 8. Create the Desktop Menu */
/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: relative;
        left: 0px;
        top: 5px;
        background: #f8f8f8;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
}
/* ========== END media query for main naviagtion ========= */
